header {
  width: 1100px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 92px 50px 96px 50px;
}

.menu-header {
  display: flex;
  gap: 33px;
  align-items: center;
  width: 391.48px;
  margin: 41px 36.52px 42px 0;
  list-style-type: circle;
  font-style: normal;
}

.link {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.no-underline {
  text-decoration: none;
}

.no-marker {
  list-style-type: none;
}

.logo-black {
  display: block;
  width: 148px;
  height: 105px;
  padding: 0px 7px 0px 4px;
}

.address {
  line-height: 24.3px;
  font-style: normal;
}

.address-header {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover {
  display: grid;
  grid-template-rows: 3fr 1fr;
  color: rgba(255, 255, 255, 1);
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px 50px;
  row-gap: 27px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.cover-title {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  width: 1000px;
  z-index: 3;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text-left {
  text-align: left;
  justify-self: start;
  align-self: start;
}

.aligned-text-center {
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-right: -0.3em;
}

.aligned-text-right {
  text-align: right;
  justify-self: end;
  align-self: end;
  margin-right: -0.3em;
}

.description {
  width: 1000px;
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 47px;
  text-transform: uppercase;
}

.subline {
  width: 637px;
  word-spacing: 18px;
}

.button-cover {
  width: 256px;
  min-height: 51px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.lots {
  width: 1052px;
  margin: 180px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  width: 121px;
  margin: 0 891px 27px 40px;
}

.lots__card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
    position: relative;
}

.card-img {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  width: 100%;
  padding: 48px 40px 0 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 3;
}

.card__text {
  width: 100%;
  padding: 0 40px 48px 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 3;
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 32px 820px 0 40px;
  line-height: 100%;
  justify-self: center;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.about {
  width: 1052px;
  margin: 120px 24px 0 24px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.about-logo {
  margin: 35px 72px 320px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
}

.about-logo-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: grid;
  grid-template-rows: 1fr 2fr;
  width: 693px;
  margin: 133px 0 5px 0;
  font-family: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.about-title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin: 3px 0 100px 0;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  margin-top: 180px;
}

.address-footer {
  justify-self: left;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-list {
  justify-self: end;
}

.footer-social-list-item {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}
