body {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

header {
    width: 1100px;
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 92px 50px 96px 50px;
}

.menu-header {
    display: flex;
    gap: 33px;
    align-items: center;
    width: 391.48px;
    height: 22px;
    margin: 41px 36.52px 42px 0;
    list-style-type: circle;
    font-style: normal;
}

.menu-header li:nth-child(1) {
    list-style-type: none;
}

.menu-header a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.no-marker a {
    border-bottom: none;
}

.logo-black {
    display: block;
    width: 148px;
    height: 105px;
    padding: 0px 7px 0px 4px;
}

.address-header {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    line-height: 24.3px;
    font-style: normal;
}

.address-header a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cover {
    color: rgba(255, 255, 255, 1);
    min-height: 757px;
    position: relative;
    z-index: -1;
}

.cover img {
    min-height: 757px;
}

.overlay {
    width: 1100px;
    height: 757px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

h1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 1000px;
    height: 385px;
    z-index: 2;
    position: absolute;
    margin: 165px 50px 0 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.ono {
    width: 286px;
    height: 115px;
    text-align: left;
    justify-self: start;
    align-self: flex-start;
}

.tebe {
    width: 339px;
    height: 115px;
    text-align: center;
    justify-self: center;
}

.nado {
    width: 387px;
    height: 115px;
    text-align: right;
    justify-self: end;
    align-self: flex-end;
}

.description {
    width: 1000px;
    height: 51px;
    z-index: 2;
    position: absolute;
    margin: 656px 50px 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
}

.subline {
    width: 637px;
    height: 28px;
    word-spacing: 18px;
}

.word-space-one {
    word-spacing: 19px;
}

.button-cover {
    width: 256px;
    height: 51px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.lots {
    width: 1052px;
    height: 723px;
    margin: 180px 24px 120px 24px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.lots__heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    width: 121px;
    height: 47px;
    line-height: 100%;
    margin: 0 891px 24px 40px;
}

.lots__card-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lots__card-list li {
    width: 334px;
    height: 596px;
    list-style-type: none;
    position: relative;
}

.lots-overlay {
    width: 334px;
    height: 596px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.card-img {
    width: 334px;
    height: 596px;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg); 
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    width: 100%;
    padding: 48px 40px 0 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 2;
}

.lots__card-list a {
    text-decoration: none;
}

.card__text {
    width: 100%;
    padding: 0 40px 48px 40px;
    font-family: 'Ralway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2;
}

.lots__look-more-link {
    font-family: 'Ralway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    margin: 30px 820px 2px 40px;
    line-height: 100%;
    justify-self: center;
    letter-spacing: 0.4px;
}